// login styling
.signup-image-link{
    cursor: pointer;
}

.form-group{
    justify-content: center;
}

.submit-btn{
    background-color: whitesmoke;
    border: none;
    padding: 15px;
    border-radius: 5px;
}

.submit-btn:hover{
    color: white;
    background-color: green;
}